@import "scss/mixins";
@import "scss/fonts";
body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  background-color: #4b4a4a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullpage {
  color: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform-origin: center;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg,
.vect,
.fg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
}

.fg {
  pointer-events: none;
}

#root {
  position: relative;
  overflow: hidden;
  width: 1024px;
  height: 768px;
  min-width: 1024px;
  min-height: 768px;
}

#nav {
  pointer-events: none;
}

.overlay,
#nav-btn-r,
#nav-btn-pi,
#nav-btn-burger,
#nav-btn-home,
#home-btn-start,
#home-btn-indication,
#home-btn-ae,
#home-btn-pi,
#home-btn-opsumit,
#home-btn-uptravi,
#home-btn-veletri,
#p06-btn-1,
#p06-btn-2,
#p06-btn-3,
#p06-btn-4,
#p06-btn-5,
#p06-btn-6,
#p06-btn-7,
#p06-btn-8,
#p10-btn-seraphin,
#p10-btn-seraphin-extension,
#p12-btn-seraphin-extension,
#p16-btn-seraphin,
#p16-tab-1,
#p16-tab-2,
#p16-tab-3,
#p17-btn-seraphin,
#p17-tab-1,
#p17-tab-2,
#p17-tab-3,
#p18-btn-seraphin,
#p18-tab-1,
#p18-tab-2,
#p18-tab-3,
#p20-btn-seraphin,
#p22-btn-seraphin,
#p24-btn-patient-journeys {
  pointer-events: all;
  cursor: pointer;
}